<footer class="text-muted py-5 mt-auto"  style="background-color: #2fd45b;" id="footer">
  <div class="container">
   <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
     <p class="mb-1 float-lg-start text-light">Universidad Autónoma de La Laguna | Colegio de Ciencias de Salud</p>
    </div>
    <div class="col">
   <p class="mb-0 float-lg-end text-light">Desarrollado por <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://sites.google.com/view/iscual2024">Generación 2020-2024 ISC</a></p>
    </div>
  </div>
</div>
  
  
  </div>
</footer>