<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-md  navbar-light " style="background-color: #12372A   ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/HomeSessions">
      <div class="has-bg-img bg-light bg-blend-multiply  rounded-4">
        <img src="../images/logoUAL-removebg-preview.png" alt="Logo" width="100" height="51">

      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
      </ul>



      {{#if Logeado }}

      {{#if (eq role "admin")}}

      {{!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/test">Test</a>

        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/PanelUsuarios">Panel usuarios</a>

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/Registrarse">Registrar</a>

        </li>
      </ul> --}}
      {{/if}}
      {{/if}}

      {{#if Logeado }}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-3 fw-bold text-light" aria-current="page" href="/HomeSessions">
          <span class="material-symbols-outlined">
                                                Home
                                            </span>
          Inicio</a>
        </li>
      </ul>

      {{#if (eq role "alumno")}}

      {{!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/test">Test</a>

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/PanelUsuarios">Panel Usuarios</a>

        </li>
      </ul> --}}
      {{/if}}


    
      <div class="d-flex align-items-center ms-auto">
      <!-- Formulario de cambio de idioma -->
     <form id="languageForm" method="POST" action="/cambiarIdioma" class="d-flex">
        <div class="row g-3 align-items-center">
          <input type="hidden" name="username" value="{{user}}">
          <div class="col-auto">
            <span class="material-symbols-outlined d-flex text-light">Language</span>
          </div>
          <div class="col-auto">
            <select name="language" id="role" class="form-select" onchange="this.form.submit()">
              <option value="es-MX">Español</option>
              <option value="en-US">English</option>
            </select>
          </div>
        </div>
      </form>
      <!-- Botón de cierre de sesión -->
      <a class="nav-link active fs-3 fw-bold text-light ms-3" aria-current="page" href="/logout">
        <span class="material-symbols-outlined">logout</span> Cerrar sesión
      </a>
    </div>
      {{/if}}



    </div>
  </div>
</nav>
{{!-- <script>
  // Obtener el formulario y el selector de idioma
  const languageForm = document.getElementById('languageForm');
  const languageSelect = document.getElementById('role');

  // Escuchar el evento change del selector de idioma
  languageSelect.addEventListener('change', function() {
    // Enviar el formulario cuando cambia el idioma
    languageForm.submit();
  });
</script> --}}
{{!-- <style>
  /* Estilo predeterminado de los elementos <li> */
  .nav-item, #cerrar {
    background-color: transparent; /* Fondo transparente por defecto */
    border-radius: 10px; /* Añade esquinas redondeadas */
    padding: 5px;
  }


  /* Estilo de hover para los elementos <li> */
  .nav-item:hover, #cerrar:hover {
    background-color: white; /* Cambia el fondo a blanco al pasar el cursor */
  }

  /* Cambia el color del texto a verde militar en estado de hover */
  .nav-item:hover a,  #cerrar:hover a {
    color: green; /* Verde militar (código hexadecimal) */
  }
</style> --}}