    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg  navbar-light " style="background-color: #2fd45b;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <div class="has-bg-img bg-light bg-blend-multiply  rounded-4">
<img  src="../images/logoUAL-removebg-preview.png" alt="Logo" width="208" height="102">

    </div>
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/"> Licenciatura en Optometria</a>
        </li>
      </ul>
         {{#if Logeado }}

{{#unless (admin role)}}
         
          <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/test">Test</a>

        </li>
      </ul>
          <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/PanelUsuarios">Panel Usuarios</a>

        </li>
      </ul>

{{/unless}}
    {{/if}}


   {{#if Logeado }}
       <ul class="navbar-nav">
        <li class="nav-item">        
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/logout">Cerrar sesión</a>
      </li>
      </ul>      
    {{/if}}



    </div>
  </div>
</nav>