<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg  navbar-light " style="background-color: #2fd45b;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/HomeSessions">
      <div class="has-bg-img bg-light bg-blend-multiply  rounded-4">
        <img src="../images/logoUAL-removebg-preview.png" alt="Logo" width="208" height="102">

      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
      </ul>



      {{#if Logeado }}

      {{#if (eq role "admin")}}

      {{!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/test">Test</a>

        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/PanelUsuarios">Panel usuarios</a>

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/Registrarse">Registrar</a>

        </li>
      </ul> --}}
      {{/if}}
      {{/if}}

      {{#if Logeado }}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/HomeSessions">
          <span class="material-symbols-outlined">
                                                home
                                            </span>
          Inicio</a>
        </li>
      </ul>

      {{#if (eq role "alumno")}}

      {{!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/test">Test</a>

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/PanelUsuarios">Panel Usuarios</a>

        </li>
      </ul> --}}
      {{/if}}


    
            <div class="d-flex align-items-center" id="cerrar"> 
          <a class="nav-link active fs-4 text-light" aria-current="page" href="/logout"><span class="material-symbols-outlined">
                                                logout
                                            </span> Cerrar sesión</a>

            </div>
       
      {{/if}}



    </div>
  </div>
</nav>

{{!-- <style>
  /* Estilo predeterminado de los elementos <li> */
  .nav-item, #cerrar {
    background-color: transparent; /* Fondo transparente por defecto */
    border-radius: 10px; /* Añade esquinas redondeadas */
    padding: 5px;
  }


  /* Estilo de hover para los elementos <li> */
  .nav-item:hover, #cerrar:hover {
    background-color: white; /* Cambia el fondo a blanco al pasar el cursor */
  }

  /* Cambia el color del texto a verde militar en estado de hover */
  .nav-item:hover a,  #cerrar:hover a {
    color: green; /* Verde militar (código hexadecimal) */
  }
</style> --}}