{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">

  </header>

  <body class="d-flex flex-column min-vh-100">


    <main>
      <div class="modal-content rounded-4 shadow">


        <div class="modal-body p-5 border border-2 border-dark rounded">

          <div class="container">
            <form action="/form/registrarpaciente" method="post">
              <div class="row g-3">
                <div class="col-sm-4">
                  <label class="form-label">Nombre:</label>
                  <input type="text" name="Nombre" id="" class="form-control" required>
                </div>
                <div class="col-sm-8">
                  <label class="form-label">Apellido(s)</label>
                  <input type="text" name="ApellidoPaterno" id="" class="form-control" required>
                </div>
                <!--
                <div class="col-sm-4">
                  <label class="form-label">Apellido materno:</label>
                  <input type="text" name="ApellidoMaterno" id="" class="form-control" required>
                </div>
                -->
                <div class="col-sm-12">
                  <label class="form-label">Localidad:</label>
                  <input type="text" name="ciudad" id="" class="form-control" required>
                </div>

                <label>Ocupacion:</label>
                <select name="ocupacion" id="" class="form-select" required>
                  <option for="" class="form-check-label" value="Ama De Casa">Ama de casa</option>
                  <option for="" class="form-check-label" value="Estudiante">Estudiante</option>
                  <option for="" class="form-check-label" value="Administrativo">Administrativo</option>
                  <option for="" class="form-check-label" value="Conductor">Chofer</option>
                  <option for="" class="form-check-label" value="Agricultura">Agricultor</option>
                  <option for="" class="form-check-label" value="Jubilado">Jubilado</option>

                  <!--
                  <option for="" class="form-check-label" value="Oficinista">Oficinista</option>-->
                  <option for="" class="form-check-label" value="Otro">Otro</option>
<!--
                  <option for="" class="form-check-label" value="Industria">Industria</option>
                  -->

                </select>
                <!--
                <div class="input-group">

                  <span class="input-group-text">¿Cuántos años han pasado desde su último examen de la vista?</span>
                  <input type="number" aria-label="First name" class="form-control" name="ultimoexamen"  id="ExmVista" >
                  <div class="input-group-text">

                    <input class="form-check-input mt-0" type="checkbox" value="Nunca"
                      aria-label="Checkbox for following text input" checked> Nunca ha tenido
                  </div>

                </div>
                -->
                <label>Sexo:</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault1" value="masculino">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Masculino
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" id="flexRadioDefault2" value="femenino" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Femenino
                  </label>
                </div>
                <div class="col-sm-12">
                  <label class="form-label">Edad</label>
                  <input type="number" name="Edad" id="" class="form-control"  required> 
                </div>
                {{!-- ESTO SE DEBE VOLVER A AGREGAR CUANDO SOLUCIONEMOS TODO
                <div class="col-sm-12">
                  <label class="form-label">Razón de la visita</label>
                  <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-sm-12">
                  <label class="form-label">Uso de lentes</label>
                  <select name="" id="" class="form-select">
                  <option for="" class="form-check-label" value="Siempre">Siempte</option>
                  <option for="" class="form-check-label" value="Para ver de lejos">Para ver de lejos</option>
                  <option for="" class="form-check-label" value="Para ver de cerca">Para ver de cerca</option>
                  <option for="" class="form-check-label" value="Nunca">Nunca</option>
                </select>
                </div>
              </div> --}}

              <button type="submit" class="btn btn-primary">Guardar datos</button>

            </form>

          </div>
          </ul>
        </div>
      </div>

    </main>

</div>
</body>
 <script>
    // Obtener una referencia al input ExmVista y al checkbox
    const inputExmVista = document.getElementById('ExmVista');
    const checkbox = document.querySelector('.form-check-input');

    // Agregar un evento para escuchar cuando se escriba en el input ExmVista
    inputExmVista.addEventListener('input', function () {
      // Desmarcar el checkbox cuando se escriba algo en el input
      checkbox.checked = false;
    });
  </script>
{{> footer}}