
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <!-- Agrega tus enlaces de estilos aquí -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 px-0">
                <!-- Sidebar -->
                {{> sidebar}} 
    </div>

            <div class="col-sm-12 col-md-9 col-lg-10 px-0">
                <!-- Contenido principal -->
                <div class="content p-3">
                    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
                        Bienvenido/a {{nombre}}
                    </header>

                    <main>
                        <!-- Carrusel de imágenes -->
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- Primera imagen del carrusel -->
                                <div class="carousel-item active carousel-item-left">
                                    <!-- Aquí puedes agregar tu imagen o contenido -->
                                    <img class="d-block w-100" src="../images/carusel0.jpg" alt="Logo" style="height: 800px; object-fit: cover;">
                                </div>
                                <!-- Segunda imagen del carrusel -->
                                <div class="carousel-item carousel-item-next carousel-item-left">
                                    <!-- Aquí puedes agregar tu segunda imagen o contenido -->
                                    <img class="d-block w-100" src="../images/carusel1.jpg" alt="Logo" style="height: 800px; object-fit: cover;">
                                </div>
                                <!-- Tercera imagen del carrusel -->
                                <div class="carousel-item">
                                    <!-- Aquí puedes agregar tu tercera imagen o contenido -->
                                   <img class="d-block w-100" src="../images/carusel2.jpg" alt="Logo" style="height: 800px; object-fit: cover;">
                                </div>
                            </div>
                            <!-- Controles de navegación del carrusel -->
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </a>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega tus scripts al final del body -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    {{>footer}} <!-- Agrega tu footer aquí usando Handlebars -->
</body>

