{{> navbar}}
<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{footer}}
=======
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
  
  </header>


  <main>
    <div class="modal-content rounded-4 shadow">


      <div class="modal-body p-5 border border-2 border-dark rounded">
       
<div class="container text-center">
  <div class="row">
    <div class="col">
     <img src="../public/images/Al_Optometría-01.png" class="rounded float-start" alt="" width="100" height="100">
    </div>
    <div class="col">
        <div class="container text-center">
  <div class="row">
    <div class="col ">
     “Que la vista nos permita
percibir no solo lo mejor de nuestro entorno
si no lo grandioso del ser humano”
    </div>
        <div class="w-100 d-none d-md-block"></div>
        <br>
    <div class="col ">
   <button type="button" class="btn btn-success">Acceso Alumnos</button>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
        </ul>
      </div>
    </div>


   
  </main>
{{> footer}}
</div>

>>>>>>> b011c4c61e95a27c3b136145ad49953712b25628
