  <body class="d-flex flex-column min-vh-100">
    <main>
      <style>
  img {
   height: 100%;
   width: 100%;
   position:absolute;
      }
      .uno{
        background-color: red;
        position: relative;
        float: right;
        height: 20px;
        width: 20px;
      }
      </style>

      <div>
        <img src="../images/Al_Optometría-01.png" />
      </div>
      <div class="uno"></div>
    </main>
  </body>