<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-9 p-0">
      <!-- Imagen -->
      <img src="../images/Al_Optometría-01.png" alt="Imagen Optometría" class="w-100 h-100" style="object-fit: cover;">
    </div>
    <div class="col-md-3 d-flex flex-column align-items-center justify-content-center text-center" >
      <!-- Contenido de la derecha -->
      <img src="../images/logoUAL.png" alt="Logo UAL" class="mb-3" style="object-fit: contain; max-height: 100px;">
      <p>“Que la vista nos permita percibir, no solo lo mejor de nuestro entorno, sino lo grandioso del ser humano.”</p>
      <a href="/LoginInicio">
        <button type="button" class="btn mt-3" style="background-color: #12372A; color: white;">
          Iniciar sesión
        </button>
      </a>
    </div>
  </div>
</div>
