<style>
  body{
    overflow-y: hidden;
  }
</style>

<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-9 p-0">
      <!-- Imagen -->
      <img src="../images/Al_Optometría-01.png" alt="Imagen Optometría" class="img-fluid d-none d-md-block" style="height: 100%; object-fit: cover;">
    </div>
    <div class="col-md-3 d-flex flex-column align-items-center justify-content-center text-center">
      <!-- Contenido de la derecha -->
      <img src="../images/logoUAL.png" alt="Logo UAL" class="mb-3 img-fluid" style="max-height: 150px;">
      <p class="fs-4">“Que la vista nos permita percibir, no solo lo mejor de nuestro entorno, sino lo grandioso del ser humano.”</p>
      <a href="/LoginInicio" class="btn btn-primary mt-3 fs-4" style="background-color: #12372A;">Iniciar sesión</a>
    </div>
  </div>
</div>

