
<style>
    body {
        background-image: url("../images/LogFondo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="border border-dark p-4 rounded bg-white bg-opacity-50" style="width: 50%; max-width: 800px;">
        <h1 class="mb-3">Inicio de sesión</h1>
        <form action="/LoginUsuario" method="POST">
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Correo" name="username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary fs-5" style="background-color: #12372A;">Iniciar sesión</button>
            </div>
            {{#if error}}
            <p class="text-danger">Usuario o contraseña incorrectos</p>
            {{/if}}
        </form>
    </div>
</div>
