<style>
    body {
        background-image: url("../images/LogFondo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login-container {
        border: 2px solid #000;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5); /* Blanco con 80% de opacidad */
        width: 50%; /* Ajusta este valor para cambiar el tamaño del contenedor */
        max-width: 800px; /* Ajusta este valor para establecer un ancho máximo */
    }
</style>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login-container">
        <form action="/LoginUsuario" method="POST">
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Correo" name="username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña"
                    aria-label="Username" aria-describedby="basic-addon1" name="password" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn " style="background-color: #12372A; color: white;">
                    Iniciar sesión
                </button>
            </div>
            {{#if error}}
            <p class="text-danger">Usuario o contraseña incorrectos</p>
            {{/if}}
        </form>
    </div>
</div>
