{{> navbar}}



<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
Ingresa los Datos del usuario
  </header>
<main>
      <div class="modal-content rounded-4 shadow">


        <div class="modal-body p-5 border border-2 border-dark rounded">

          <div class="container">
            <form method="POST" action="/RegistrarPost">
<div class="row g-3">
    <div class="col-sm-12">
                  <label class="form-label">Correo institucional:</label>
                  <input type="email" class="form-control" name="username">
                </div>
                <div class="col-sm-12">
                  <label class="form-label">Contraseña:</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <div class="col-sm-4">
                  <label class="form-label">Nombre(s):</label>
                  <input type="text" class="form-control" name="Nombre">
                </div>

                <div class="col-sm-4">
                  <label class="form-label">Apellido paterno:</label>
                  <input type="text" class="form-control" name="ApellidoPaterno">
                </div>
                <div class="col-sm-4">
                  <label class="form-label">Apellido materno:</label>
                  <input type="text" class="form-control" name="ApellidoMaterno">
                </div>





<button type="submit" class="btn btn-primary">Registrar usuario</button>
</div>



</form>

          </div>
          </ul>
        </div>
      </div>

    </main>
</div>