{{> navbar}}

Ingresa los Datos del usuario

<form method="POST" action="/RegistrarPost">

<input type="text" name="username">
<input type="text" name="password">
<input type="text" name="Nombre">
<input type="text" name="SegundoNombre">
<input type="text" name="ApellidoMaterno">
<input type="text" name="ApellidoPaterno">

<button type="submit">Registrar usuario</button>
</form>