{{> navbar}}

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
<h2>Ingresa los Datos del usuario</h2>
  </header>
<main>
      <div class="modal-content rounded-4 shadow">


        <div class="modal-body p-5 border border-2 border-dark rounded">

          <div class="container">
            <form method="POST" action="/RegistrarsePost">
<div class="row g-3">
    <div class="col-sm-12">
                  <label class="form-label">Correo institucional:</label>
                  <input type="text" class="form-control" name="username">
                </div>

    <div class="col-sm-12">
  <select class="form-select" id="inputGroupSelect01" name="correo">
    <option selected value="@halcones.ual.mx">@halcones.ual.mx</option>
    <option value="@ual.mx">@ual.mx</option>
  </select>

                </div>

                <div class="col-sm-12">
                  <label class="form-label">Contraseña:</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <div class="col-sm-4">
                  <label class="form-label">Nombre(s):</label>
                  <input type="text" class="form-control" name="Nombre">
                </div>

                <div class="col-sm-4">
                  <label class="form-label">Apellido paterno:</label>
                  <input type="text" class="form-control" name="ApellidoPaterno">
                </div>
                <div class="col-sm-4">
                  <label class="form-label">Apellido materno:</label>
                  <input type="text" class="form-control" name="ApellidoMaterno">
                </div>

<label>Role:</label>
            <select name="role" id="role"class="role">
                <option value="admin" >Admin</option>
                 <option value="alumno" >alumno</option>
                <option value="cliente" >Cliente</option>
            </select>



<button type="submit" class="btn btn-primary">Registrar usuario</button>
</div>



</form>

          </div>
          </ul>
        </div>
      </div>

    </main>
</div>
<style>
  body {
    background-color: #f2f2f2;
  }
  form {
    margin: 20px;
    padding: 20px;
    background-color: #d3f3cb;
    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  input[type=text], input[type=password] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  button[type=submit]:hover {
    background-color: #45a049;
  }
</style>
