{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/Test.css">

<div class="col-lg-8 mx-auto p-2 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
    VOSH Universal Exam Form
  </header>

  <main>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body border border-2 border-dark rounded" id="CuadroG">
        <div class="container">
          <form action="/Formulario" method="POST" id="formulario">

            <div class="container" id="formcont">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">

                  <!-- Sección 1: Paciente -->
                  <div class="carousel-item active">
                    <h2>Paciente</h2>
                    <button type="button" class="form-control" onclick="openPopup()">Nombre del paciente:</button>

                    <div id="popup" class="popup" style="z-index: +1000;">
                      <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <input type="text" id="searchInput" placeholder="Search...">
                        {{#each pacientes}}
                        <div class="row " style="z-index: 999;">
                          <div class="col-auto me-auto" id="" style="width: 100%;">
                            <p>{{this.NombreCompleto}}<input type="hidden" value="{{this._id}}" id="id">
                            <button type="button"
                              class="btn btn-dark" style="float:right;" onclick="displayUsername(this)" value="{{this._id}}">Agregar</button></p>
                          </div>
                        </div>

                        <br>
                        {{/each}}
                      </div>
                    </div>
                    <br>
                    <p id="usernameDisplay" style="display:none;" name="NombrePaciente"></p>
                    <input type="hidden" id="usernameValueDisplay" style="display:none;" name="id">

                    <button type="button" id="hideUsernameButton" style="display:none;"
                      onclick="hideUsernameDisplay()">Cancelar</button>

                    <!-- Resto de tu contenido de la sección "Paciente" aquí -->
                  </div>

                  <!-- Sección 2: Pre-test -->
                  <div class="carousel-item">
                    <h2>Pre-test</h2>
                    <div class="col-sm-8">
                      <label class="form-label">CONDICIONES:</label><br>
                      <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0" type="checkbox" value="true"
                            aria-label="Checkbox for following text input" name="Diabetes"> Diabetes
                        </div>

                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0" type="checkbox" value="true"
                            aria-label="Checkbox for following text input" name="Hipertension"> Hipertensión
                        </div>

                      </div>
                      <!--
                          <div class="input-group mb-3">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" value="true"
                                aria-label="Checkbox for following text input" name="EmbarazoOlactancia">
                              Embarazo/lactancia
                            </div>
                          </div>
                          -->
<!--
                      <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0" type="checkbox" value="true"
                            aria-label="Checkbox for following text input" name="ProblemasDelCorazon"> Problemas del
                          corazón
                        </div>
                      </div>
-->
                      <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0" type="checkbox" value="true"
                            aria-label="Checkbox for following text input" name="Glaucoma"> Glaucoma
                        </div>

                      </div>
                          <div class="input-group mb-3">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" value="true"
                                aria-label="Checkbox for following text input" name="Cataratas"> Cataratas
                            </div>

                          </div>
                      <!--
                          <div class="input-group mb-3">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" value="true"
                                aria-label="Checkbox for following text input" name="DolorDeCabeza"> Dolor de cabeza
                            </div>

                          </div>
-->

                      <!--

                          <div class="input-group mb-3">
                            <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input" name="Alergias">
                              
                              Alergia a medicamentos
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                              name="Alergias" placeholder="¿Cuáles?">
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-text">
                            
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input">
                              Otro
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" name="Otro"
                              placeholder="Especifíque">
                          </div>
-->

                    </div>

                    <!--
                        <label for="medicamentos">MEDICAMENTOS ACTUALES</label><br>
                        <input type="text" class="form-control" id="medicamentos" name="MedicamentosActuales">
                        -->
                    <br>
                    <label for="">AGUDEZA VISUAL</label>
                    <table class="table table-striped-columns">
                      <tr>
                        <th></th>
                        <th>Distancia</th>
                        <th>Cerca</th>
                      </tr>
                      <td>Lejos</td>

                      <td> <select name="ConLentesDistancia" class="verde-fosforescente">

                          <option value="20/400">20/400</option>
                          <option value="20/200">20/200</option>
                          <option value="20/100">20/100</option>
                          <option value="20/80">20/80</option>
                          <option value="20/70">20/70</option>
                          <option value="20/50">20/50</option>
                          <option value="20/40">20/40</option>
                          <option value="20/30">20/30</option>
                          <option value="20/25">20/25</option>
                          <option value="20/20">20/20</option>


                        </select>
                        <!--<input type="text" name="ConLentesDistancia" id="" class="form-control" required>--></td>




                      <td>
                        <!--20/ <input type="text" name="ConLentesCerca" id="" class="form-control" required>--><select
                          name="ConLentesCerca" class="verde-fosforescente">

                          <option value="20/400">20/400</option>
                          <option value="20/200">20/200</option>
                          <option value="20/100">20/100</option>
                          <option value="20/80">20/80</option>
                          <option value="20/70">20/70</option>
                          <option value="20/50">20/50</option>
                          <option value="20/40">20/40</option>
                          <option value="20/30">20/30</option>
                          <option value="20/25">20/25</option>
                          <option value="20/20">20/20</option>


                        </select></td>
                      <tr></tr>
                      <td>Cerca</td>
                      <td><!--20/ <input type="text" class="form-control" name="SinLentesDistancia" required>--><select
                          name="SinLentesDistancia" class="verde-fosforescente">

                          <option value="20/400">20/400</option>
                          <option value="20/200">20/200</option>
                          <option value="20/100">20/100</option>
                          <option value="20/80">20/80</option>
                          <option value="20/70">20/70</option>
                          <option value="20/50">20/50</option>
                          <option value="20/40">20/40</option>
                          <option value="20/30">20/30</option>
                          <option value="20/25">20/25</option>
                          <option value="20/20">20/20</option>


                        </select></td>
                      <td>
                        <!--20/ <input type="text" class="form-control" name="SinLentesCerca" id="" required>--><select
                          name="SinLentesCerca" class="verde-fosforescente">

                          <option value="20/400">20/400</option>
                          <option value="20/200">20/200</option>
                          <option value="20/100">20/100</option>
                          <option value="20/80">20/80</option>
                          <option value="20/70">20/70</option>
                          <option value="20/50">20/50</option>
                          <option value="20/40">20/40</option>
                          <option value="20/30">20/30</option>
                          <option value="20/25">20/25</option>
                          <option value="20/20">20/20</option>


                        </select></td>
                    </table>
                    <!--
                        <label for="">PUPILAS</label><br>

                        <div class="container text-start">
                          <div class="row align-items-start">
                            <div class="col col-5">
                              <td><label for="">Izquierdo</label>
                                <input type="text" class="form-control" name="Izquierdo" required>
                              </td>
                            </div>
                            <div class="col col-5">

                              <td>
                                <label for="">Derecho</label><input type="text" class="form-control" name="Derecha"
                                  id=""required>
                              </td>
                            </div>
                          </div>
                        </div>
-->
                    <br>
                    <div class="container text-start">
                      <div class="row align-items-start">
                        <div class="col">
                          <label for="">Motilidad Ocular</label>
                        </div>
                        <div class="w-100 d-none d-md-block"></div>
                        <div class="col-sm-2">
                          <input type="radio" name="grupoRadio" id="orto"> <label for="orto">Orto</label>
                        </div>
                        <div class="col-sm-2">
                          <input type="radio" name="grupoRadio" id="endo"> <label for="endo">Endo</label>
                        </div>
                        <div class="col-sm-2">
                          <input type="radio" name="grupoRadio" id="exo"> <label for="exo">Exo</label>
                        </div>

                        <br> <br>
                        <!--
                            <div class="w-100 d-none d-md-block"></div>
                            <div class="col">
                              <label for="">Cerca</label>
                            </div>
                            <div class="w-100 d-none d-md-block"></div>
                            <div class="col-sm-2">
                              <input type="radio" name="grupoRadio2A" > <label for="">Ortho</label>
                            </div>
                            <div class="col-sm-2">
                              <input type="radio" name="grupoRadio2B" > <label for="">Eso</label>
                            </div>
                            <div class="col-sm-2">
                              <input type="radio" name="grupoRadio2C" > <label for="">Exo</label>
                            </div>
                            -->


                      </div>
                    </div>

                    <!-- Resto de tu contenido de la sección "Pre-test" aquí -->
                  </div>

                  <!-- Sección 3: Refracción -->
                  <div class="carousel-item" id="itemsave">
                    <h2>Protocolo de refracción</h2>
                    <form id="myForm" action="tu_script.php" method="POST">
                      <!-- Reemplaza "tu_script.php" con la URL adecuada -->
                      <label for=""> RETINOSCOPÍA </label><BR></BR>
                      <div class="contenedor">
                        <div class="checkbox-group">
                          <!-- Checkbox para la opción +2 -->
                              <div class="input-group-text">
   <input type="checkbox" id="opcionPlus2" name="opcion" value="+2"
                            onclick="actualizarOdreni(this); mostrarOpciones(this)"> +2

                              </div>
                       
                        </div>
                        <div class="checkbox-group">
                          <!-- Checkbox para la opción +1 -->
                            <div class="input-group-text">

   <input type="checkbox" id="opcionPlus1" name="opcion" value="+1"
                            onclick="actualizarOdreni(this); mostrarOpciones(this)"> +1
                            </div>
                       
                        </div>
                      </div>
                      <br>
                      <div class="contenedor3 border border-1 border-dark rounded">
                        <div id="opcionesPlus2" style="display: none;">
                          <label for="">+2</label>
                          <div class="container text-start">
                            
                              <div class="row">
                                   <div class="col col-6">
                                  <label for="">OD 20/80</label>
                                </div>
                                     <div class="col col-6">
                                                                    <label for="">OI 20/80</label>

                              
                                </div>

                                <!-- Force next columns to break to new line at md breakpoint and up -->
                                                                 <div class="w-100 d-none d-md-block"></div>

                                    <div class="col col-6">
    <select name="ODReniPlus2" class="verde-fosforescente">
                                    <option value="HIPERMETROPIA">SI</option>
                                    <option value="EMETROPE">NO</option>

                                  </select>
                                </div>
                                    <div class="col col-6">
                                  <select name="OIReniPlus2" class="verde-fosforescente">
                                    <option value="HIPERMETROPIA">SI</option>
                                    <option value="EMETROPE">NO</option>

                                  </select>
                                </div>
                                <div class="w-100 d-none d-md-block"></div>
                                   <div class="col col-6" style="padding: 0px;">
                                    <label for=""><input  type="checkbox" name="OIAsigmatismo1" style="margin: 0px 5px 0px 5px;">Asigmatismo</label>

          </div>
          <div class="col col-6"  style="padding: 0px;">
                                    <label for=""><input  type="checkbox" name="ODAsigmatismo1" style="margin: 0px; margin-right: 5px">Asigmatismo</label>

          </div>
                              </div>
                        
                          </div>
                        </div>

  <div id="opcionesPlus1" style="display: none;">
    <label for="">+1</label>
    <div class="container text-start">
      <div class="row ">
        <div class="col col-6">
          <label for="">OD 20/30</label>
       
        </div>
        <div class="col col-6">
          <label for="">OI 20/30</label>
         
        </div>
        <div class="w-100"></div>
          <div class="col col-6">
               <select name="ODReniPlus1" class="verde-fosforescente">
            <option value="HIPERMETROPIA">SI</option>
            <option value="MIOPIA">NO</option>

          </select>
          
          </div>
          <div class="col col-6">
             <select name="OIReniPlus1" class="verde-fosforescente">
            <option value="HIPERMETROPIA">SI</option>
            <option value="MIOPIA">NO</option>

          </select>

          </div>
          <div class="w-100"></div>
          <div class="col col-6" style="padding: 0px;">
                                    <label for=""><input required type="checkbox" name="OIAsigmatismo1" style="margin: 0px 5px 0px 5px;">Asigmatismo</label>

          </div>
          <div class="col col-6"  style="padding: 0px;">
                                    <label for=""><input required type="checkbox" name="ODAsigmatismo1" style="margin: 0px; margin-right: 5px">Asigmatismo</label>

          </div>
      </div>
    </div>
  </div>

                      </div>

                      <input required type="hidden" name="odreni" id="odreniInput" value="">

                      <br>

                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <!--

                              <td><label for="">AV</label>
                                <select name="AVReni">

                                <option value="20/400">20/400</option>
                                <option value="20/200">20/200</option>
                                <option value="20/100">20/100</option>
                                <option value="20/80">20/80</option>
                                <option value="20/70">20/70</option>
                                <option value="20/50">20/50</option>
                                <option value="20/40">20/40</option>
                                <option value="20/30">20/30</option>
                                <option value="20/25">20/25</option>
                                <option value="20/20">20/20</option>


                                </select>
                              </td>
                            </div>
                            <div class="col col-5">

                              <td>
                                                               <select name="AVReni2">

                                <option value="20/400">20/400</option>
                                <option value="20/200">20/200</option>
                                <option value="20/100">20/100</option>
                                <option value="20/80">20/80</option>
                                <option value="20/70">20/70</option>
                                <option value="20/50">20/50</option>
                                <option value="20/40">20/40</option>
                                <option value="20/30">20/30</option>
                                <option value="20/25">20/25</option>
                                <option value="20/20">20/20</option>


                                </select>
                              </td>
-->

                            <div class="contenedor2">
                              <button type="submit" class="btn btn-primary">Guardar datos</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <!--
                        <label for="">EXAMEN SUBJETIVO</label>
                        <br>
                       
                        <div class="container text-start">
                          <div class="row align-items-start">
                            <div class="col col-5">
                              <td><label for="">OI</label>
                                <input type="text" class="form-control" name="OIExam" required>
                              </td>
                            </div>
                            <div class="col col-5">

                              <td>
                                <label for="">AD</label><input type="text" class="form-control" name="ADExam" id="" required>
                              </td>
                            </div>
                          </div>
                        </div>

                        <br>
                        <div class="container text-start">
                          <div class="row align-items-start">
                            <div class="col col-5">
                              <td><label for="">AV</label>
                                <input type="text" class="form-control" name="AVExam" required>
                              </td>
                            </div>
                            <div class="col col-5">

                              <td>
                                <label for="">AV</label><input type="text" class="form-control" name="AVExam2" id="" required>
                              </td>
                            </div>
                          </div>
                        </div>
                        -->

                      <!--
                        <label for="">Observaciones</label>
                        <input type="text" class="form-control" name="Observaciones">
                        -->
                  </div>

                  <!-- Resto de tu contenido de la sección "Refracción" aquí -->


                  <!-- Sección 4: Examinacion -->

                  <!--
          <div class="carousel-item">
            <h2>Examinación</h2>
             <input type="checkbox" name="Myopia" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Myopia</label><br>
                        <input type="checkbox" name="Hyperopia" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Hyperopia</label><br>
                        <input type="checkbox" name="Asigmatism" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Asigmatism</label><br>
                        <input type="checkbox" name="Presbyopia" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Presbyopia</label><br>
                        <input type="checkbox" name="Anisometropia" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Anisometropia</label><br>
                        <input type="checkbox" name="Amblyopia" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Amblyopia</label><br>
                        <input type="checkbox" name="Strabismus" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Strabismus</label><br>
                        <input type="checkbox" name="DiabeticRet" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Diabetic Ret</label><br>
                        <input type="checkbox" name="HtnRet" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Htn Ret</label><br>
                        <input type="checkbox" name="DryEye" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Dry Eye</label><br>
                        <input type="checkbox" name="Pinguecula" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Pinguecula</label><br>
                        <input type="checkbox" name="Pterygium" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Pterygium</label><br>
                        <input type="checkbox" name="Conjuntivitis" id="" class="form-check-input mt-0" value="true">
                        <label class="form-label" for="">Conjuntivitis</label><br>
                        <input type="checkbox" name="Galucoma2" id="" class="form-check-input mt-0" value="true"> <label
                          class="form-label" for="">Galucoma</label><br>
                        <input type="checkbox" name="Cataracts" for="" class="form-check-input mt-0" value="true"><label
                          for="">Cataracts</label><br>
                        <input type="checkbox" name="ODExamination" id="" class="form-check-input mt-0"
                          value="true"><label for="">OD</label><br>
                        <input type="checkbox" name="OSExamination" id="" class="form-check-input mt-0"
                          value="true"><label for="">OS</label><br>
                        <input type="checkbox" for="" name="PriorSurg" value="true" class="form-check-input mt-0"><label
                          for="">Prior Surg</label><br>
                        <input type="checkbox" name="ODExamination2" id="" class="form-check-input mt-0"
                          value="true"><label for="">OD</label><br>
                        <input type="checkbox" name="OSExamination2" id="" class="form-check-input mt-0"
                          value="true"><label for="">OS</label><br>

                        <textarea name="OtherExamination" id="" cols="30" rows="5" placeholder="Other"
                          class="form-control"></textarea>  
          </div>
-->

                  <!-- Resto de tu contenido de la sección "Examinación" aquí -->

                  <!-- Sección 5: Optical -->
                  <!--
          <div class="carousel-item">
            <h2>Optical</h2>
              <label>Primary Pair Recommended Eyeglass Rx</label><br>
                        <label for="">OD:</label> <input type="text" class="form-control" name="ODOptical" id="" required><br>
                        <label for="">OS:</label> <input type="text" class="form-control" name="OSOptical" id="" required>
                     
                <button type="submit" class="btn btn-primary">Guardar datos</button>
          </div>
          -->
                </div>
              </div>


            </div>
        </div>
        <div class="row " style="z-index: 999;">
          <div class="col-auto me-auto" id="" style="width: 40%;">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
              onclick="prevSection()" id="btnprev">
              <span class="carousel-control-prev-icon" aria-hidden="true" id="icono"></span>
            </button>
          </div>
          <div class="col-auto ">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
              onclick="nextSection()" id="btnnext">
              <span class="carousel-control-next-icon" aria-hidden="true" id="icono"></span>
            </button>
          </div>
        </div>
  </main>
</div>

</div>
</div>



</form>
</div>


</ul>
</div>
</div>
</main>
</div>

<script>


  function openPopup() {
    document.getElementById("popup").style.display = "block";
  }

  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
  function filterResults() {
    // Get input value
    let inputValue = document.getElementById("searchInput").value.toLowerCase();
    // Get all the p tags inside the popup-content div
    let results = document.querySelectorAll(".popup-content p");
    // Loop through each result and hide/show based on the input value
    results.forEach(result => {
      if (result.textContent.toLowerCase().includes(inputValue)) {
        result.style.display = "block";
      } else {
        result.style.display = "none";
      }
    });
  }

  // Attach an event listener to the search input
  document.getElementById("searchInput").addEventListener("input", filterResults);

  function displayUsername(button) {
    // Get the value of the hidden input related to the clicked button
    let usernameValue = button.value;
    console.log(usernameValue)
    // Get the values of the Nombre, ApellidoPaterno, and ApellidoMaterno elements
    let nombreValue = button.parentNode.childNodes[0].textContent
    let apellidoPaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[1];
    let apellidoMaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[2];
    // Display the values inside the popup div
    let usernameDisplayElement = document.getElementById("usernameDisplay");
    let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
    usernameDisplayElement.value = `${nombreValue}`;
    usernameDisplayElement.textContent = `${nombreValue}`
    usernameValueDisplayElement.value = usernameValue;
    usernameDisplayElement.style.display = "block";
    usernameValueDisplayElement.style.display = "block";
    // Show the hide button
    let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
    hideUsernameButtonElement.style.display = "block";
    closePopup()
  }

  function hideUsernameDisplay() {
    // Hide the username display
    let usernameDisplayElement = document.getElementById("usernameDisplay");
    let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
    usernameDisplayElement.style.display = "none";
    usernameValueDisplayElement.style.display = "none";
    // Hide the hide button
    let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
    hideUsernameButtonElement.style.display = "none";
  }



  var odreni = ""; // Variable para almacenar el valor de odreni

  // Función para actualizar el valor de odreni en función de la selección del usuario
  function actualizarOdreni(checkbox) {
    if (checkbox.checked) {
      odreni = checkbox.value; // Asignar el valor del checkbox seleccionado a odreni
    } else {
      odreni = ""; // Si el checkbox se desmarca, eliminar el valor de odreni
    }
    document.getElementById("odreniInput").value = odreni; // Actualizar el campo oculto
  }

  // Función para mostrar u ocultar las secciones de opciones en función del checkbox seleccionado
  function mostrarOpciones(checkbox) {
    const opcionesPlus2 = document.getElementById("opcionesPlus2");
    const opcionesPlus1 = document.getElementById("opcionesPlus1");

    if (checkbox === opcionPlus2) {
      opcionesPlus2.style.display = checkbox.checked ? "block" : "none";
      opcionesPlus1.style.display = "none";
      opcionPlus1.checked = false;
      if (checkbox.checked) {
        document.querySelector("#opcionesPlus2 select").removeAttribute("disabled");
      } else {
        document.querySelector("#opcionesPlus2 select").setAttribute("disabled", "disabled");
      }
    } else if (checkbox === opcionPlus1) {
      opcionesPlus1.style.display = checkbox.checked ? "block" : "none";
      opcionesPlus2.style.display = "none";
      opcionPlus2.checked = false;
      if (checkbox.checked) {
        document.querySelector("#opcionesPlus1 select").removeAttribute("disabled");
      } else {
        document.querySelector("#opcionesPlus1 select").setAttribute("disabled", "disabled");
      }
    }
  }
</script>


{{> footer}}