{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
    VOSH Universal Exam Form
  </header>


  <main>
    <div class="modal-content rounded-4 shadow">


      <div class="modal-body p-5 border border-2 border-dark rounded">

        <div class="container">
          <form action="">
            <div class="row g-3">



              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Pre-test
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-label">CONDICIONES:</label><br>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Diabetes</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Presion Alta</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Emabarazo/Amamantando</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Problemas del corazon</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Glaucoma</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Cataratas</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox"><label for="">Dolor de cabeza</label>
                        </div>
                        <div class="form-check">
                        <input type="checkbox">
                      <label>Alergia a los medicamentos</label>
                      <input type="text" class="form-control">
                      </div>
                      </div>

                      
                      <label for="">Medicamentos actuales</label><br>
                      <input type="text" class="form-control">
                      <label for="">Agudeza Visual</label>
                      <table class="table table-striped-columns">
                        <tr>
                          <th>Con lentes</th>
                          <th>Distancia</th>
                          <th>Cerca</th>
                        </tr>
                        <td>OD</td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <tr></tr>
                        <td>OS</td>
                        <td>20/ <input type="text" class="form-control"></td>
                        <td>20/ <input type="text" class="form-control" name="" id=""></td>
                      </table>
                      <label for="">Pupilas</label><br>
                      <table>
                        <tr><label for="">Izquierdo</label>
                          <input type="text" class="form-control">
                        </tr>
                        <tr>
                          <label for="">Derecho</label><input type="text" class="form-control" name="" id="">
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <label for="">distancia</label>
                          <td><input type="radio" name="" id=""> <label for="">Ortho</label></td>
                          <td><input type="radio" name="" id=""> <label for="">Eso</label></td>
                          <td><input type="radio" name="" id=""> <label for="">Exo</label></td>
                        </tr>

                      </table>
                      <table>
                        <tr>
                          <label for="">Cerca</label>
                          <td><input type="radio"><label for="">Ortho</label></td>
                          <td><input type="radio"><label for="">Eso</label></td>
                          <td><input type="radio"><label for="">Exo</label></td>

                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Refracción
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Examination
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Optical
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </form>

        </div>
        </ul>
      </div>
    </div>



  </main>

</div>
{{> footer}}