{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
    VOSH Universal Exam Form
  </header>

  <main>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5 border border-2 border-dark rounded">
        <div class="container">
          <form action="/Formulario" method="POST">


                        <div class="accordion" id="accordionExample">

                  <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                      Paciente
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
<button type="button" onclick="openPopup()">Nombre del paciente:</button>

<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <input type="text" id="searchInput" placeholder="Search...">
    {{#each usuarios}}
      <p>{{this.Nombre}} {{this.ApellidoPaterno}} {{this.ApellidoMaterno}} <input type="hidden" value="{{this.username}}" id="username"><button type="button" onclick="displayUsername(this)">Agregar</button></p>
      <br>
    {{/each}}
  </div>
</div>
<br>
<p id="usernameDisplay" style="display:none;" name="NombrePaciente"></p>
<input type="hidden" id="usernameValueDisplay" style="display:none;" name="Username">

<button type="button" id="hideUsernameButton" style="display:none;" onclick="hideUsernameDisplay()">Cancelar</button>


                    </div>
                  </div>
                </div>



            <div class="row g-3">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Pre-test
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="col-sm-8">
                        <label class="form-label">CONDICIONES:</label><br>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="true" aria-label="Checkbox for following text input" name="Diabetes"> Diabetes
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="true"
                              aria-label="Checkbox for following text input"> Presión alta
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Embarazo/lactancia
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Problemas del corazón
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Galucoma
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Caratatas
                          </div>

                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Dolor de cabeza
                          </div>

                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input">
                            Alergia a medicamentos
                          </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox"
                            placeholder="¿Cuáles?">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input">
                            Otro
                          </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox"
                            placeholder="Especifíque">
                        </div>

                      </div>


                      <label for="medicamentos">MEDICAMENTOS ACTUALES</label><br>
                      <input type="text" class="form-control" id="medicamentos">
                      <br>
                      <label for="">AGUDEZA VISUAL</label>
                      <table class="table table-striped-columns">
                        <tr>
                          <th></th>
                          <th>Distancia</th>
                          <th>Cerca</th>
                        </tr>
                        <td>Con lentes</td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <tr></tr>
                        <td>Sin lentes</td>
                        <td>20/ <input type="text" class="form-control"></td>
                        <td>20/ <input type="text" class="form-control" name="" id=""></td>
                      </table>
                      <label for="">PUPILAS</label><br>

                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">Izquierdo</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">Derecho</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>

                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col">
                            <label for="">Distancia</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Exo</label>
                          </div>
                          <br> <br>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col">
                            <label for="">Cerca</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Exo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Refracción
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for=""> RETINOSCOPÍA</label><BR></BR>
                      <label for=""></label>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">OD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <label for="">EXAMEN SUBJETIVO</label>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <label for="">Observaciones</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Examination
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Myopia</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Hyperopia</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Asigmatism</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Presbyopia</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Anisometropia</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Amblyopia</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Strabismus</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Diabetic Ret</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Htn Ret</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Dry Eye</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Pinguecula</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Pterygium</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Conjuntivitis</label><br>
                     <input type="checkbox" name="" id="" class="form-check-input mt-0"> <label class="form-label" for="">Galucoma</label><br>

                     <label for="">Cataracts</label>
                     <input type="checkbox" name="" id=""class="form-check-input mt-0"><label for="">OD</label>
                     <input type="checkbox" name="" id=""class="form-check-input mt-0"><label for="">OS</label><br>
                     <label for="">Prior Surg</label>
                     <input type="checkbox" name="" id=""class="form-check-input mt-0"><label for="">OD</label>
                     <input type="checkbox" name="" id=""class="form-check-input mt-0"><label for="">OS</label><br>

                    <textarea name="" id="" cols="30" rows="5" placeholder="Other" class="form-control"></textarea>

                    
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Optical
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label>Primary Pair Recommended Eyeglass Rx</label> <br>
                     <label for="">OD:</label> <input type="text" class="form-control" name="" id=""><br>
                      <label for="">OS:</label> <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Guardar datos</button>
            </div>


          </form>

        </div>
        </ul>
      </div>
    </div>
  </main>

</div>

<style>

  .popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
    max-height:500px;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  body {
    background-color: #f2f2f2;
  }
  form {
    margin: 20px;
    padding: 20px;
    background-color: #d3f3cb;
    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  input[type=text], input[type=password] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  button[type=submit]:hover {
    background-color: #45a049;
  }
</style>

<script>
  function openPopup() {
  document.getElementById("popup").style.display = "block";
}

function closePopup() {
  document.getElementById("popup").style.display = "none";
}
  function filterResults() {
    // Get input value
    let inputValue = document.getElementById("searchInput").value.toLowerCase();
    // Get all the p tags inside the popup-content div
    let results = document.querySelectorAll(".popup-content p");
    // Loop through each result and hide/show based on the input value
    results.forEach(result => {
      if (result.textContent.toLowerCase().includes(inputValue)) {
        result.style.display = "block";
      } else {
        result.style.display = "none";
      }
    });
  }
  
  // Attach an event listener to the search input
  document.getElementById("searchInput").addEventListener("input", filterResults);
  
function displayUsername(button) {
  // Get the value of the hidden input related to the clicked button
  let usernameValue = button.previousSibling.value;
  // Get the values of the Nombre, ApellidoPaterno, and ApellidoMaterno elements
  let nombreValue = button.parentNode.childNodes[0].textContent.split(" ")[0];
  let apellidoPaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[1];
  let apellidoMaternoValue = button.parentNode.childNodes[0].textContent.split(" ")[2];
  // Display the values inside the popup div
  let usernameDisplayElement = document.getElementById("usernameDisplay");
  let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
  usernameDisplayElement.value = `${nombreValue} ${apellidoPaternoValue} ${apellidoMaternoValue}`;
  usernameDisplayElement.textContent = `${nombreValue} ${apellidoPaternoValue} ${apellidoMaternoValue}`
  usernameValueDisplayElement.value = usernameValue;
  usernameDisplayElement.style.display = "block";
  usernameValueDisplayElement.style.display = "block";
  // Show the hide button
  let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
  hideUsernameButtonElement.style.display = "block";
}

function hideUsernameDisplay() {
  // Hide the username display
  let usernameDisplayElement = document.getElementById("usernameDisplay");
  let usernameValueDisplayElement = document.getElementById("usernameValueDisplay");
  usernameDisplayElement.style.display = "none";
  usernameValueDisplayElement.style.display = "none";
  // Hide the hide button
  let hideUsernameButtonElement = document.getElementById("hideUsernameButton");
  hideUsernameButtonElement.style.display = "none";
}
</script>


{{> footer}}