{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
    VOSH Universal Exam Form
  </header>


  <main>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5 border border-2 border-dark rounded">
        <div class="container">
          <form action="">
            <div class="row g-3">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Pre-test
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-label">CONDICIONES:</label><br>
                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">
                                <input type="checkbox">
                              </div>
                              <div class="col">
                                Diabetes
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">
                                <input type="checkbox">
                              </div>
                              <div class="col">
                                Presion Alta
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">
                                <input type="checkbox">
                              </div>
                              <div class="col col-4">
                                Emabarazo/Amamantando
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">
                                <input type="checkbox">
                              </div>
                              <div class="col col-9">
                                Problemas del corazon
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">

                                <input type="checkbox">
                              </div>
                              <div class="col col-9">
                                Glaucoma
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">

                                <input type="checkbox">
                              </div>
                              <div class="col col-9">
                                Cataratas
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">

                                <input type="checkbox">
                              </div>
                              <div class="col col-9">
                                Dolor de cabeza
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-check">
                          <div class="container text-start">
                            <div class="row align-items-start">
                              <div class="col col-sm-2">

                                <input type="checkbox">
                              </div>
                              <div class="col col-9">
                                Alergia a los medicamentos
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <br>
                      <label for="">Medicamentos actuales</label><br>
                      <input type="text" class="form-control">
                      <br>
                      <label for="">Agudeza Visual</label>
                      <table class="table table-striped-columns">
                        <tr>
                          <th>Con lentes</th>
                          <th>Distancia</th>
                          <th>Cerca</th>
                        </tr>
                        <td>OD</td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <tr></tr>
                        <td>OS</td>
                        <td>20/ <input type="text" class="form-control"></td>
                        <td>20/ <input type="text" class="form-control" name="" id=""></td>
                      </table>
                      <label for="">Pupilas</label><br>

                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">Izquierdo</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">Derecho</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>

                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col">
                            <label for="">distancia</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Exo</label>
                          </div>
                          <br> <br>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col">
                            <label for="">Cerca</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio"><label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"><label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"><label for="">Exo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Refracción
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for="">Retinoscopia</label><BR></BR>
                      <label for="">Estatica</label>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">OD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                        <br>
                         <label for="">Dinamica</label>
                         <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
  <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Examination
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Optical
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </form>

        </div>
        </ul>
      </div>
    </div>



  </main>

</div>
{{> footer}}