{{> navbar}}
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom ">
    VOSH Universal Exam Form
  </header>

  <main>
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5 border border-2 border-dark rounded">
        <div class="container">
          <form action="/Formulario" method="POST">
            <div class="row g-3">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Pre-test
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="col-sm-8">
                        <label class="form-label">CONDICIONES:</label><br>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Diabetes
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Presión alta
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Embarazo/lactancia
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Problemas del corazón
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Galucoma
                          </div>

                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Caratatas
                          </div>

                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input"> Dolor de cabeza
                          </div>

                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input">
                            Alergia a medicamentos
                          </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox"
                            placeholder="¿Cuáles?">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                              aria-label="Checkbox for following text input">
                            Otro
                          </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox"
                            placeholder="Especifíque">
                        </div>

                      </div>


                      <label for="medicamentos">MEDICAMENTOS ACTUALES</label><br>
                      <input type="text" class="form-control" id="medicamentos">
                      <br>
                      <label for="">AGUDEZA VISUAL</label>
                      <table class="table table-striped-columns">
                        <tr>
                          <th>Con lentes</th>
                          <th>Distancia</th>
                          <th>Cerca</th>
                        </tr>
                        <td>OD</td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <td>20/ <input type="text" name="" id="" class="form-control"></td>
                        <tr></tr>
                        <td>OS</td>
                        <td>20/ <input type="text" class="form-control"></td>
                        <td>20/ <input type="text" class="form-control" name="" id=""></td>
                      </table>
                      <label for="">PUPILAS</label><br>

                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">Izquierdo</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">Derecho</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>

                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col">
                            <label for="">Distancia</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio" name="" id=""> <label for="">Exo</label>
                          </div>
                          <br> <br>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col">
                            <label for="">Cerca</label>
                          </div>
                          <div class="w-100 d-none d-md-block"></div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Ortho</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Eso</label>
                          </div>
                          <div class="col-sm-2">
                            <input type="radio"> <label for="">Exo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Refracción
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <label for=""> RETINOSCOPÍA</label><BR></BR>
                      <label for=""></label>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">OD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <label for="">EXAMEN SUBJETIVO</label>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">OI</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AD</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col col-5">
                            <td><label for="">AV</label>
                              <input type="text" class="form-control">
                            </td>
                          </div>
                          <div class="col col-5">

                            <td>
                              <label for="">AV</label><input type="text" class="form-control" name="" id="">
                            </td>
                          </div>
                        </div>
                      </div>
                      <label for="">Observaciones</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Examination
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                     <input type="checkbox" name="" id=""> <label for="">Myopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Hyperopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Asigmatism</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Presbyopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Anisometropia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Amblyopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Strabismus</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Diabetic Ret</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Htn Ret</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Dry Eye</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Pinguecula</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Pterygium</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Conjuntivitis</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Galucoma</label><br>

                     <label for="">Cataracts</label>
                     <input type="checkbox" name="" id=""><label for="">OD</label>
                     <input type="checkbox" name="" id=""><label for="">OS</label><br>
                     <label for="">Prior Surg</label>
                     <input type="checkbox" name="" id=""><label for="">OD</label>
                     <input type="checkbox" name="" id=""><label for="">OS</label><br>

                    <textarea name="" id="" cols="30" rows="5" placeholder="Other"></textarea>

                    <label for="">referral</label>
                   <input type="checkbox" name="" id=""> <label for="">Myopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Hyperopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Asigmatism</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Presbyopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Anisometropia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Amblyopia</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Strabismus</label><br>
                     <input type="checkbox" name="" id=""> <label for="">Diabetic Ret</label><br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Optical
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                      collapse plugin adds the appropriate classes that we use to style each element. These classes
                      control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                      modify any of this with custom CSS or overriding our default variables. It's also worth noting
                      that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                      does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Guardar datos</button>
            </div>


          </form>

        </div>
        </ul>
      </div>
    </div>
  </main>

</div>
{{> footer}}